main {
  margin: 0 auto;
  padding: rem(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .h1 {
    margin-bottom: rem(30px);
  }

  .cardsBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30px);
  }

  .card {
    position: relative;
    max-width: rem(150px);
    max-height: rem(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(10px);
    border: 1px solid #5c5c5c;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    &.flipped {
      transform: rotateY(180deg);
    }
  }

  .cardFront,
  .cardBack {
    backface-visibility: hidden;
  }

  .cardBack {
    width: 90%;
    height: auto;
    color: #5c5c5c;
    transform: rotateY(180deg);
    overflow: hidden;
  }
}
